/*
*home button

*header button settings tipography, design.
*
*Button settings in News section tipography and design.
*/


/*--------------*\
   HOME BUTTON
\*--------------*/
.home__btn{
  background-color:          var(--main-bg-color);
  color:                     var(--main-color);
  position:                  fixed;
  bottom:                    2vh;
  left:                      2vw;
  padding:                   0.5rem;
  border-radius:             50%;
  z-index:                   2;
}



/*--------------*\
   HEADER BUTTON
\*--------------*/
.header__btn{
  background-color:   var(--main-bg-color);
  color:              rgba(255,255,255,0.7);
  text-decoration:    none;
  font-size:          1.2rem; 
  width:              12rem;
  margin-top:         10px;
  margin-left:        5px;
  margin-right:       5px;
  border-radius:      50px;
  padding:            10px 0px;
  transition:         color 0.2s ease-in;
  transition:         transform 0.2s ease-in;
  text-align:         center;
  letter-spacing:     .2rem;

}

.header__btn:hover{
  color:              white;
  transform:          scale(1.1);
}





/*---------------*\
   HEADER BUTTON
   MOBILE LAYOUT
\*---------------*/


@media(max-width:1024px){
  .header__btn{
    width:           100%;
    border-radius:   0;
    margin:          0;
    border-bottom:   1px solid var(--main-color); 
  }
  .header__btn:hover{
    transform:       scale(1.0);
  }
}





/*--------------*\
    NEWS BUTTON
\*--------------*/


.news__btn{
  text-decoration:          none;
  color:                    rgba(255,255,255,0.7);
  background-color:         var(--main-bg-color);
  display:                  inline-block;
  font-weight:              600;
  letter-spacing:           .2rem;
  text-decoration:          none;
  border:                   1px solid var(--main-bg-color);
  padding:                  .5rem 3rem;
  margin-top:               1rem;
  text-align:               center;
  vertical-align:           middle;
  white-space:              nowrap;
  transition:               color 0.2s ease-in;
  transition:               background-color 0.2s ease-in;
}

.news__btn:hover{
  color:                   var(--main-bg-color);
  background-color:        white;
}
  
.news__btn:active{
  transform:               scale(0.9);
}





/*--------------*\
    NEWS BUTTON
   MOBILE LAYOUT
\*--------------*/


@media(max-width:1024px){
  .news__btn:active{
    transform:           scale(1);
  }
}